# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (uncomment if needed)
#.vscode/

# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
doc/api/

# Android build
/android/app/debug
/android/app/profile
/android/app/release

# iOS / Flutter
**/ios/Flutter/.last_build_id

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Environment files
.env*
